/* Mobile Styles*/
.navbar {
  width: 100%;
}

.navbar > h3 {
  display: none;
}

.navbarList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 30px 10px 30px;
}

.navbarListItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.navbar img {
  display: none;
}

.logoutButton {
  display: none;
}

/* Desktop Styles*/

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
    background: linear-gradient(#170cb4, #830aaf);
    padding: 17px 15px;
  }

  .navbarTop {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  .navbarBottom {
    display: flex;
    flex-direction: column;
  }

  .navbar img {
    display: block;
    width: 170px;
    padding-left: 8px;
  }

  .navbar > h3 {
    display: block;
    font-size: 2rem;
  }

  .navbarList {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .navbarListItem {
    flex-direction: row;
    gap: 14px;
    align-items: center;
    color: white;
    padding: 12px 0 12px 8px;
    width: 100%;
    border-radius: 8px;
    font-weight: 700;
  }

  .logoutButton {
    display: flex;
  }

  .logoutButton:hover {
    background-color: #f4f7fb;
  }
}
