/* Mobile Styles */
.icon-selected {
  color: #170cb4;
}

.label-selected {
  color: #170cb4;
}

.button-selected {
  background-color: transparent;
}

.button {
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 1px solid #170cb4;
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  .icon-selected {
    color: #ffffff;
  }

  .label-selected {
    color: #ffffff;
  }

  .button-selected {
    background-color: #d0d0d026;
  }

  .button:hover,
  .button:focus {
    background-color: #f4f7fb;
  }
}
